[submodule "modules/ARINC615AManager"]
	path = modules/ARINC615AManager
	url = https://github.com/TCC-PES-2022/ARINC615AManager.git
	branch = main
[submodule "modules/BLSecurityManager"]
	path = modules/BLSecurityManager
	url = https://github.com/TCC-PES-2022/BLSecurityManager.git
	branch = main
